/* Página de WordPress
   ========================================================================== */

/**
* Formulario de inicio de sesión
*/

/**
* reCAPTCHA
*/

.g-recaptcha {
    margin: 0.3rem 0 0.5rem;
    transform: scale(0.89); 
    transform-origin: 0 0;
}